<!doctype html>
<html lang="en">
  <head>
    <title>FeatureExpress - Book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/locales.js"></script>

    <script type="text/javascript">
      let commentRegex = /^#[\w\s]+$/im;
      let keywordRegex = /^\s*((?:Feature|Background|Scenario Outline|Scenario|Examples|Given|When|Then|And|But)\:?)(.+)$/im;
      let identationRegex = /^(\s+)/im;
      let tagRegex = /\s*(@[^@]+)/igm;
      let dataTableRowRegex = /^(\s*\|(?:[\|\s\w]+))$/im;
      
      let applyStyle = (item, pattern, styler) => {
        if(pattern.test(item.textContent)) {
          pattern.lastIndex = 0;
          styler(item, pattern);
        }
      };

      let formatFeature = (feature) => {
        let lines = feature.querySelectorAll('li');

        lines.forEach(line => {
          if(!line.classList.contains('formatted')) {
            let element = document.createElement('li');
            element.textContent = line.textContent;
            element.classList.add('formatted');
  
            line.remove();

            applyStyle(element, identationRegex, (item, pattern) => {
              let matches = pattern.exec(item.textContent);
              let numberOfSpaces = matches[1].length;
    
              item.style.paddingLeft = `calc(${numberOfSpaces} * 1rem)`;
            });
  
            applyStyle(element, commentRegex, (item, pattern) => {
              item.classList.add('comment');
            });
  
            applyStyle(element, keywordRegex, (item, pattern) => {
              let matches = item.textContent.match(pattern);
              
              let keyword = document.createElement('span');
              keyword.textContent = matches[1];
              keyword.classList.add('gherkin-keyword');
    
              let keywordContent = document.createElement('span');
              keywordContent.textContent = matches[2];
              keywordContent.classList.add('keyword-content');
    
              item.textContent = "";
              item.append(keyword, keywordContent);
            });

            applyStyle(element, tagRegex, (item, pattern) => {
              let textToMatch = item.textContent;
              item.textContent = "";

              while(match = pattern.exec(textToMatch)) {
                let tag = document.createElement('span');
                tag.textContent = match[1];
                tag.classList.add('gherkin-tag');

                item.appendChild(tag);
              }
            });

            applyStyle(element, dataTableRowRegex, (item, pattern) => {
              let matches = item.textContent.match(pattern);
              
              let dataTableRow = document.createElement('span');
              dataTableRow.textContent = matches[1];
              dataTableRow.classList.add('data-table-row');

              item.textContent = "";
              item.appendChild(dataTableRow);
            });
        
            feature.appendChild(element);
          }
        });
      }
    </script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({
          animation: true,
          delay: { show: 500, hide: 100 }
        });
      });

      class Folder {
        constructor(content, name) {
          this._content = content;
          this._name = name;
        }

        get name() { return this._name; }
        
        get content() { return this._content; }
      }

      class Breadcrumb {
        constructor(selector = 'ol.breadcrumb') {
          this._selector = selector;
        }

        get selector() { return this._selector; }

        add(folder, onClick) {
          let element = document.createElement('li');
          element.classList.add('breadcrumb-item', 'active');
          element.addEventListener('click', onClick);
          element.textContent = folder.name;

          let previousLevelElement = document.querySelector(this._selector).lastElementChild;
          if(previousLevelElement !== undefined && previousLevelElement !== null) previousLevelElement.classList.remove('active');

          document.querySelector(this._selector).appendChild(element);
        }
      }

      class Sidebar {
        constructor(selector = '.sidebar-content') {
          this._selector = selector;
          this._activeFeature = undefined;
        }

        set activeFeature(feature) { this._activeFeature = feature; }

        get activeFeature() { return this._activeFeature; }

        clearContent() { 
          document.querySelectorAll(this._selector + ' > *').forEach((item) => {
            $('[data-toggle="tooltip"]').tooltip('hide');
            item.remove();
          })
        }

        displayContent(content) { 
          let sidebar = document.querySelector(this._selector);
          content.forEach((item) => {
            if(item.classList.contains('d-none'))
              item.classList.remove('d-none');

            sidebar.appendChild(item);
          });
        }
      }

      class App {
        constructor(sidebar, breadcrumb, contentArea) {
          this._sidebar = sidebar;
          this._breadcrumb = breadcrumb;
          this._contentArea = contentArea;
        }

        get sidebar() { return this._sidebar; }

        get breadcrumb() { return this._breadcrumb; }

        get contentArea() { return this._contentArea; }

        addToBreadcrumb(folder) {
          this._breadcrumb.add(folder, function(event) {
            let breadcrumb = document.querySelector(this._breadcrumb.selector);
            let breadcrumbItems = breadcrumb.children;
            for(let i = 0; i < breadcrumbItems.length; i++) {
              if(breadcrumbItems[i].textContent === folder.name) {
                let itemIndex = i;
                for(let j = breadcrumbItems.length - 1; j > itemIndex; j--) {
                  breadcrumbItems[j].remove();
                }
                breadcrumbItems[i].classList.add('active');
              }
            }
            
            this._sidebar.clearContent();
            this._sidebar.displayContent(folder.content);
          }.bind(this));
        }
      }

      class ContentArea {
        constructor(selector = '.feature') {
          this._selector = selector;
        }

        clear() {
          document.querySelectorAll(this._selector + ' > *').forEach((item) => {
            item.remove();
          });
        }

        displayContent(content) {
          let area = document.querySelector(this._selector);
          
          formatFeature(content);

          if(content.classList.contains('d-none'))
            content.classList.remove('d-none');

          area.appendChild(content);
        }
      }

      class Feature {
        constructor(link, content, name, isActive) {
          this._link = link;
          this._content = content;
          this._name = name;
          this._isActive = isActive;
        }

        get link() { return this._link; }

        get content() { return this._content; }

        get name() { return this._name; }

        set isActive(isActive) {
          if(isActive)
            this._link.item(0).classList.add('active-feature');
          else
            this._link.item(0).classList.remove('active-feature');
          
          this._isActive = isActive;
        }

        get isActive() { return this._isActive; }
      }

      $(document).ready(function() {
        let rootFolder = new Folder(document.querySelectorAll('.sidebar-content > li'), '..')
        
        let app = new App(new Sidebar(), new Breadcrumb(), new ContentArea());
        app.addToBreadcrumb(rootFolder);
        
        document.querySelectorAll('.sidebar-content li').forEach((element) => {
          if(element.classList.contains('folder')) {
            let folder = new Folder(element.querySelectorAll('#' + element.id + '-content'), element.id);
            
            element.addEventListener('click', function(event) {
              app.addToBreadcrumb(folder);
              app.sidebar.clearContent();
              app.sidebar.displayContent(folder.content);
            });
          } else {
            let feature = new Feature(document.querySelectorAll('.sidebar-content #' + element.id), 
                                      document.querySelector('.feature #' + element.id), 
                                      element.id, 
                                      false);
  
            element.addEventListener('click', function(event) {
              if(app.sidebar.activeFeature !== undefined)
                app.sidebar.activeFeature.isActive = false;
  
              feature.isActive = true;
              app.sidebar.activeFeature = feature;
  
              app.contentArea.clear();
              app.contentArea.displayContent(feature.content);
            });
          }
        });
        
        app.sidebar.clearContent();
        app.sidebar.displayContent(rootFolder.content);
        app.contentArea.clear();
      });
    </script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="container-fluid">
      <!-- List group -->
      <div class="row">
        <div class="col-lg-3 d-lg-block sidebar cs-nav">
          <div class="sidebar-sticky">
            <header class="cs-header">
              <figure class="cs-header__brand"><img src="images/logo.svg" alt="" class="img-responsive"></figure>
            </header>
            <ul class="sidebar-content">
              <% 
                let parseModelRecursively = (obj) => {
                  if(obj.isDirectory) {
              %>
                    <li class="folder" id='<%= obj.name %>' data-toggle="tooltip" data-placement="top" title="<%= obj.name %>">    
                      <i class="folder-icon far fa-folder"></i><!--
                    --><span class="folder-name"><%=obj.name%></span>
                      <ul class="d-none folder-content" id='<%= obj.name %>-content'>
              <%
                    obj.content.forEach(function (item) {
                      parseModelRecursively(item);
                    }, obj);
              %>
                      </ul>
                    </li>
              <%
                  } else {
                    featureFiles.push(obj);
              %>
                    <li id="<%= obj.name %>" class="file" data-toggle="tooltip" data-placement="top" title="<%= obj.name %>">
                      <i class="file-icon devicon-cucumber-plain colored"></i><!--
                      --><span class="file-name"><%=obj.name%></span>
                    </li>
              <%
                  }
                }

                parseModelRecursively(rootFolder);
              %>
            </ul>
          </div>
        </div>

        <main class="col-lg-9 ml-sm-auto cs-content">
          <nav class="folder-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb"></ol>
          </nav>
          <div class="feature">
            <%
              featureFiles.forEach(featureFile => {
            %>
                <ul id="<%= featureFile.name %>" class="feature-content d-none jumbotron font-weight-light cs-pane">
            <% 
                featureFile.content.forEach(line => {
            %>
                  <li><%= line %></li>
            <%
                });
            %>
                </ul>
            <%
              });
            %>
          </div>
        </main>
      </div>
    </section>

    <footer class="cs-footer">
      Developed with ❤ by <a target="_blank" href="https://github.com/menezes-ssz">Leonardo Menezes</a>
      <br>
      <span>Design by <a href="http://kalyneramon.com.br/" target="_blank">Kalyne Ramon</a></span>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
