<!doctype html>
<html lang="en">
  <head>
    <title>FeatureExpress - Book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="css/style.css">

    <% var featureFiles = []; %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/locales.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({
          animation: true,
          delay: { show: 500, hide: 100 }
        });
      });

      class Folder {
        constructor(content, name) {
          this._content = content;
          this._name = name;
        }

        get name() { return this._name; }
        
        get content() { return this._content; }
      }

      class Breadcrumb {
        constructor(selector = 'ol.breadcrumb') {
          this._selector = selector;
        }

        get selector() { return this._selector; }

        add(folder, onClick) {
          let element = document.createElement('li');
          element.classList.add('breadcrumb-item', 'active');
          element.addEventListener('click', onClick);
          element.textContent = folder.name;

          document.querySelector(this._selector).appendChild(element);
        }

        refresh(fromFolder) { 
          document.querySelectorAll(this._selector + ' > li').forEach((folder) => {
            
          }) 
        }
      }

      class Sidebar {
        constructor(breadcrumb, selector = '.sidebar-content') {
          this._breadcrumb = breadcrumb;
          this._selector = selector;
          this._activeFeature = undefined;
        }

        get breadcrumb() { return this._breadcrumb; }

        set activeFeature(feature) { this._activeFeature = feature; }

        get activeFeature() { return this._activeFeature; }

        addToBreadcrumb(folder) {
          this._breadcrumb.add(folder, function(event) {
            let breadcrumb = document.querySelector(this._breadcrumb.selector);
            let breadcrumbItems = breadcrumb.children;
            for(let i = 0; i < breadcrumbItems.length; i++) {
              if(breadcrumbItems[i].textContent === folder.name) {
                let itemIndex = i;
                for(let j = breadcrumbItems.length - 1; j > itemIndex; j--) {
                  breadcrumbItems[j].remove();
                }
              }
            }
            
            this.clearContent();
            this.displayContent(folder.content);
          }.bind(this));
        }

        clearContent() { 
          document.querySelectorAll(this._selector + ' > *').forEach((item) => {
            $('[data-toggle="tooltip"]').tooltip('hide');
            item.remove();
          })
        }

        displayContent(content) { 
          let sidebar = document.querySelector(this._selector);
          content.forEach((item) => {
            if(item.classList.contains('d-none'))
              item.classList.remove('d-none');

            sidebar.appendChild(item);
          });
        }
      }

      class ContentArea {
        constructor(selector = '.feature') {
          this._selector = selector;
        }

        clear() {
          document.querySelectorAll(this._selector + ' > *').forEach((item) => {
            item.remove();
          });
        }

        displayContent(content) {
          let area = document.querySelector(this._selector);
          content.forEach((item) => {
            if(item.classList.contains('d-none'))
              item.classList.remove('d-none');

            area.appendChild(item);
          });
        }
      }

      class Feature {
        constructor(link, content, name, isActive) {
          this._link = link;
          this._content = content;
          this._name = name;
          this._isActive = isActive;
        }

        get link() { return this._link; }

        get content() { return this._content; }

        get name() { return this._name; }

        set isActive(isActive) {
          if(isActive)
            this._link.item(0).classList.add('active-feature');
          else
            this._link.item(0).classList.remove('active-feature');
          
          this._isActive = isActive;
        }

        get isActive() { return this._isActive; }
      }

      $(document).ready(function() {
        let rootFolder = new Folder(document.querySelectorAll('.sidebar-content > li'), '..')
        
        let sidebar = new Sidebar(new Breadcrumb());
        sidebar.addToBreadcrumb(rootFolder);

        let contentArea = new ContentArea();
        
        document.querySelectorAll('.sidebar-content li').forEach((element) => {
          if(element.classList.contains('folder')) {
            let folder = new Folder(element.querySelectorAll('#' + element.id + '-content'), element.id);
            
            element.addEventListener('click', function(event) {
              sidebar.addToBreadcrumb(folder);
              sidebar.clearContent();
              sidebar.displayContent(folder.content);
            });
          } else {
            let feature = new Feature(document.querySelectorAll('.sidebar-content #' + element.id), 
                                      document.querySelectorAll('.feature #' + element.id), 
                                      element.id, 
                                      false);

            element.addEventListener('click', function(event) {
              if(sidebar.activeFeature !== undefined)
                sidebar.activeFeature.isActive = false;

              feature.isActive = true;
              sidebar.activeFeature = feature;

              contentArea.clear();
              contentArea.displayContent(feature.content);
            });
          }
        });
        
        sidebar.clearContent();
        sidebar.displayContent(rootFolder.content);
        contentArea.clear();
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        var language = "<%= language %>";
        document.querySelectorAll('.feature-content ul li').forEach((item) => {
          $(item).html($(item).html().replace(/\"/g, "<strong>\"</strong>"));
          $(item).html($(item).html().replace(/\|/g, "<strong>|</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].feature, "<strong>" + LANGUAGES.keywords[language].feature + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].background, "<strong>" + LANGUAGES.keywords[language].background + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].examples, "<strong>" + LANGUAGES.keywords[language].examples + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].scenario_outline, "<strong>" + LANGUAGES.keywords[language].scenario_outline + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].scenario, "<strong>" + LANGUAGES.keywords[language].scenario + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].given, "<strong>" + LANGUAGES.keywords[language].given + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].when, "<strong>" + LANGUAGES.keywords[language].when + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].but, "<strong>" + LANGUAGES.keywords[language].but + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].then, "<strong>" + LANGUAGES.keywords[language].then + "</strong>"));
          $(item).html($(item).html().replace(LANGUAGES.keywords[language].and, "<strong>" + LANGUAGES.keywords[language].and + "</strong>"));
        });
  
        // Add CSS Classes
        $('.feature-content ul li:contains(' + LANGUAGES.keywords[language].feature + ')').each((item) => {
          $(item).addClass('cs-feature-title');
        });
        
        $('.feature-content ul li:contains(@)').each((item) => {
          $(item).addClass('cs-feature-tag');
        });
        
        $('.feature-content ul li:contains(|)').each((item) => {
          $(item).css('white-space', 'pre');
        });

        $('.feature-content ul li:contains(' + LANGUAGES.keywords[language].given + '), .tab-pane ul li:contains(' + LANGUAGES.keywords[language].when + '), .tab-pane ul li:contains(' + LANGUAGES.keywords[language].then + '), .tab-pane ul li:contains(' + LANGUAGES.keywords[language].but + '), .tab-pane ul li:contains(' + LANGUAGES.keywords[language].and + ')').each((item) => {
          $(item).addClass('cs-feature-steps');
        });
      });     
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="container-fluid">
      <!-- List group -->
      <div class="row">
        <div class="col-lg-3 d-lg-block sidebar cs-nav">
          <div class="sidebar-sticky">
            <header class="cs-header">
              <figure class="cs-header__brand"><img src="images/logo.svg" alt="" class="img-responsive"></figure>
            </header>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb"></ol>
            </nav>
            <ul class="sidebar-content">
              <% 
                let parseModelRecursively = (obj) => {
                  if(obj.isDirectory) {
              %>
                    <li class="folder" id='<%= obj.name %>' data-toggle="tooltip" data-placement="top" title="<%= obj.name %>">    
                      <i class="folder-icon far fa-folder"></i><!--
                    --><span class="folder-name"><%=obj.name%></span>
                      <ul class="d-none folder-content" id='<%= obj.name %>-content'>
              <%
                    obj.content.forEach(function (item) {
                      parseModelRecursively(item);
                    }, obj);
              %>
                      </ul>
                    </li>
              <%
                  } else {
                    featureFiles.push(obj);
              %>
                    <li id="<%= obj.name %>" class="file" data-toggle="tooltip" data-placement="top" title="<%= obj.name %>">
                      <i class="file-icon devicon-cucumber-plain colored"></i><!--
                      --><span class="file-name"><%=obj.name%></span>
                    </li>
              <%
                  }
                }

                parseModelRecursively(rootFolder);
              %>
            </ul>
          </div>
        </div>

        <main class="col-lg-9 ml-sm-auto cs-content">
          <div class="feature">
          <%
            featureFiles.forEach((featureFile) => {
          %>
            <div id="<%=featureFile.name%>" class="feature-content d-none jumbotron font-weight-light cs-pane">
                <ul>
                  <% for(let i = 0; i < featureFile.content.length; i++) { %>
                  <li><%=featureFile.content[i]%></li>
                  <% } %>
                </ul>
            </div>
          <%
            });
          %>
          </div>
        </main>
      </div>
    </section>

    <footer class="cs-footer">
      Developed with ❤ by <a target="_blank" href="https://github.com/menezes-ssz">Leonardo Menezes</a>
      <br>
      <span>Design by <a href="http://kalyneramon.com.br/" target="_blank">Kalyne Ramon</a></span>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
